* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  background-color: rgba(188, 184, 184, 0.449);
}

_input {
  padding: 2rem;
}

.currentColor {
  margin-left: auto;
}

.red {
  accent-color: red;
}

.green {
  accent-color: green;
}

.blue {
  accent-color: blue;
}

.toChange {
  --red: 0;
  --green: 0;
  --blue: 0;
  background-color: rgb(var(--red), var(--green), var(--blue));
  height: 100%;
  width: 100%;
  position: fixed;
}

.test {
  color: #d64747;
}

.rnd-color {
  height: 80px;
  width: 300px;
  font-size: 2rem;
  border: 4px solid black;
  border-radius: 10px;
  background: rgb(135, 87, 87);
  color: white;
}
